/* Is getting importet into every component */
@keyframes appearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappearAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fullScreenAnimation {
  0% {
    left: -16px;
    top: 16px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes smallScreenAnimation {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: -16px;
    top: 16px;
  }
}