/* Is getting importet into every component */
@keyframes appearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappearAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fullScreenAnimation {
  0% {
    left: -16px;
    top: 16px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes smallScreenAnimation {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: -16px;
    top: 16px;
  }
}

@keyframes fillBar {
  100% {inset:0}
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: theme("colors.primary"); }
}